body {
    background-color: lightskyblue;
    font: normal 15pt Arial;

}

header {
text-align: center;
color: white;
}

section {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    width: 60%;
    padding: 10%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);

}

button  {
    background-color: slateblue;
    border-radius: 5px;
    color: white;
    border:rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
button:hover {
    background-color:rgb(68, 57, 139);
}
button:active {
    background-color:rgb(52, 47, 85);
}



footer {
    color: white;
    text-align: center;
}